<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>

  <% if (status === "401url") { %> 
  <div style="padding: 3em; text-align: center">
    <h3>401</h3>
    <h5>Please <a href="/register">register</a> or <a href="/login">login</a> </h5>
  </div>
  <% } else if (status === "403url") { %> 
    <div style="padding: 3em; text-align: center">
      <h3>403</h3>
      <h5>Sorry, you dont't have access to this url</h5>
    </div>
  <% } else if (status === "403email") { %> 
    <div style="padding: 3em; text-align: center">
      <h3>403</h3>
      <h5>Your email is not registered. Please <a href="/register">register</a></h5>
    </div>
  <% } else if (status === "403pw") { %> 
    <div style="padding: 3em; text-align: center">
      <h3>403</h3>
      <h5>Your password doesn't match</h5>
    </div>
  <% } else if (status === "400invalid") { %> 
    <div style="padding: 3em; text-align: center">
      <h3>400</h3>
      <h5>Please input valid email & password</h5>
    </div>
  <% } else if (status === "400email") { %> 
    <div style="padding: 3em; text-align: center">
      <h3>400</h3>
      <h5>You have already registered. Please <a href="/login">login</a> </h5>
    </div>

  <% } %> 

      <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>